In [1]:
#predict the stock amount for the different products which are sold in different stores.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn import metrics
from sklearn.svm import SVC
from xgboost import XGBRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error as mae
  
import warnings
warnings.filterwarnings('ignore')

C:\Users\admin\Anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [2]:
df = pd.read_csv('C:/Users/admin/Desktop/2023 Data ML-DS/dataset/Historical Product Demand.csv')
display(df.head())
display(df.tail())

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

         Product_Code Warehouse Product_Category       Date Order_Demand
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

In [3]:
df.shape

(1048575, 5)

In [4]:
#column of the dataset contains which type of data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Product_Code      1048575 non-null  object
 1   Warehouse         1048575 non-null  object
 2   Product_Category  1048575 non-null  object
 3   Date              1037336 non-null  object
 4   Order_Demand      1048575 non-null  object
dtypes: object(5)
memory usage: 40.0+ MB

In [5]:
df.describe()

        Product_Code Warehouse Product_Category       Date Order_Demand
count        1048575   1048575          1048575    1037336      1048575
unique          2160         4               33       1729         3828
top     Product_1359    Whse_J     Category_019  2013/9/27        1000
freq           16936    764447           481099       2075       112682